# Environment variables
.env

# Google API credentials
src/data/credentials.json

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/
.env/

# IDE specific files
.idea/
.vscode/
*.swp
*.swo
*.swn
.DS_Store

# Jupyter Notebook
.ipynb_checkpoints

# Local configuration
config.local.yaml
