streamlit
pandas
numpy
python-dotenv
matplotlib
seaborn
scikit-learn
xgboost
lightgbm
gspread
oauth2client
openpyxl
google-api-python-client
google-auth
google-auth-oauthlib
google-auth-httplib2
schedule
yfinance
ta              
requests       
gspread_dataframe
